<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <h1><a class="navbar-brand" href="/">Task管理アプリ</a></h1>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete%></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>